# Se debe crear una base de datos en la nube y cargar las siguientes variables 
# Configuración del servidor
PORT=3000
NODE_ENV=development

# Base de datos (Clever Cloud - MySQL)
DB_NAME=nombre_de_tu_base
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=tu_host_de_base_de_datos
DB_PORT=3306

# Autenticación
JWT_SECRET=tu_clave_secreta_aqui
JWT_EXPIRES_IN=7d   # duración del token (7 días)