/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

:root {
  --bg: #000;   /* fondo negro */
  --text: #f3f4f6;   /* texto gris claro para contraste */
  --text-h: #ffffff; /* títulos en blanco */
  /* mantené el resto de variables como quieras */
}

body {
  margin: 0;
  background-color: var(--bg); 
  color: var(--text);          
}
